@use "../../base/variables" as v;
@use "../../base/mixins" as m;

.barra{
    overflow: hidden;
    width: 85%;
    margin: 0 auto 1rem auto;
    @include m.tablet{
        width: unset;
    }
    &__contenedor{
        @include m.tablet{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2rem 0;
            max-width: 85%;
            margin: 0 auto;
        }
    }

    &--fijar{
        display: flex;
        background-color: v.$blanco;
        height: fit-content;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        transition: 0.3s ease all;
        width: 100%;
        padding: 1rem;
        @include m.tablet{
            padding: unset;
        }
    }

    &__navegacion {
        display: none;
        @include m.tablet{
            display: flex;
            gap: 4rem;
        }
    }

    &__link{
        color: v.$blanco;
        margin: 0;
    }

    &__logo{
        display: none;
        @include m.tablet{
            display: flex;
            height: 5rem;
            width: 20rem;
            background-image: url("../img/airbnb_logo.svg");
            background-repeat: no-repeat;
            &:hover{
                background-image: url("../img/airbnb_logo_blanco.svg");
                cursor: pointer;
            }
        }
    }

    &__login{
        display: none;
        @include m.tablet{
            display: flex;
        }
    }

    &--modificar{
        width: 85%;
        margin: 0 auto;
        overflow: visible;
        .barra__navegacion{
            display: none;
        }
        .barra__busqueda{
            display: flex;
        }
        @include m.desktop{
            .barra__link{
                color: v.$negro;
                margin: 0;
            }

            .barra__logo{
                &:hover{
                    background-image: url("../img/airbnb_logo_oscuro.svg");
                }
            }
        }
    }

    &__busqueda{
        margin: 1rem 0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        border-radius: 15rem;
        background-color: #f7f7f7;
        padding: 1.1rem;
        @include m.tablet{
            display: none;
            justify-content: unset;
            margin-top: 0;
            flex-direction: unset;
            padding: 0;
            box-shadow: 0 6px 20px rgb(0 0 0 /40%);
        }
    }

    &__campo-busqueda{
        border: none;
        outline: none;
        width: 14rem;
        background-color: transparent;
        color: black;
        @include m.tablet{
            margin: 1.4rem;
            width: auto;
        }
    }

    &__icono-busqueda{
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        margin-right: .3rem;
        svg{
            position: relative;
            left: 50%;
            top: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translate(-50%, -50%);
            stroke: #FF385C !important;
        }
        @include m.tablet{
            margin-right: .7rem;
            padding: 1.6rem;
            background-color: #FF385C;
            svg{
                stroke: v.$blanco !important;
            }
        }
    }
}