@use "../../base/variables" as v;
@use "../../base/mixins" as m;

.contenido-home{
    background: #000;
    margin-bottom: 25rem;
    text-align: center;
    height: 66rem;
    padding-top: 4rem ;

    @include m.telefono-gama-media{
        margin-bottom: 21rem;
    }

    @include m.telefono-gama-alta{
        margin-bottom: 23rem;
    }

    @include m.tablet{
        height: 122rem;
        margin-bottom: 43rem;
    }
    @include m.compu-peq{
        height: 70rem !important;
        margin-bottom: 24rem;
        padding-top: 1px;
    }

    @include m.desktop{
        height: 130rem !important;
        margin-bottom: 47rem;
    }

    &__busqueda{
        margin-top: 5rem;
    }

    &__contenido{
        width: 85%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
}