@use "../../base/variables" as v;
@use "../../base/mixins" as m;

.informacion{
    padding: 8rem 3rem;
    background-color: #FF385C;
    border-radius: 1.5rem;
    @include m.tablet{
        padding: 18rem 6rem;
        margin-top: 8rem;
    }

    &__texto{
        margin: 0 0 2rem 0;
        color: v.$blanco;
        font-size: 2.5rem;
        line-height: 1.2;
        @include m.tablet{
            font-size: 4.5rem;
            font-weight: 700;
        }
    }
    &__enlace{
        padding: 1rem 3rem;
        border-radius: 1rem;
        background-color: #FF385C;
        border: 1px solid v.$blanco;
        color: v.$blanco;
        cursor: pointer;
    }


}
