@use 'variables' as v; 

/** Media Queries **/
@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}

@mixin telefono-gama-media {
    @media (min-width: 360px) and (min-height: 700px){
        @content;
    }
}

@mixin telefono-gama-alta {
    @media (min-width: 385px) and (min-height: 800px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) and (min-height: v.$tablet-alt-pq) {
        @content;
    }
}

@mixin tablet-gr {
    @media (min-width: v.$tablet) and (min-height: v.$tablet-alt-gr) {
        @content;
    }
}

@mixin tablet-egr {
    @media (min-width: v.$tablet) and (min-height: v.$tablet-alt-egr) {
        @content;
    }
}

@mixin compu-peq {
    @media (min-width: v.$compu-peque-ancho) and (min-height: v.$compu-peque-alto) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) and (min-height: v.$desktop-alt) {
        @content;
    }
}


@mixin boton($bgColor, $colorTexto) {
    background-color: $bgColor;
    padding: 2rem 4rem;
    color: $colorTexto;
    margin-top: 1rem;
    border-radius: 3rem;
    font-size: 2rem;
    font-weight: 700;
    display: block;

    @include tablet {
        display: inline-block;
    }
}

@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}