// Fuentes
$fuente_principal: 'Lexend', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 700px;
$tablet-alt-egr: 1300px;
$tablet-alt-gr: 1100px;
$tablet-alt-pq: 600px;
$compu-peque-ancho: 1000px;
$compu-peque-alto: 590px;
$compu-med-ancho: 1025px;
$compu-med-alto: 600px;
$desktop: 1300px;
$desktop-alt: 815px;

// Colores
$primario: #e8505b;
$secundario: rgb(189, 30, 89); 
$negro: #000;
$blanco: #FFFFFF;
$gris: #686868;
$grisClaro: #e1e1e1;

$separacion: 5rem;
