@use "../../base/variables" as v;
@use "../../base/mixins" as m;

.busqueda{
    background-image: url("../img/bosque.webp");
    background-size: cover;
    background-position: center;
    height: 50rem;
    margin: 5rem 0 5rem 0;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 11rem;

    @include m.telefono-gama-media{
        height: 44rem;
    }

    @include m.telefono-gama-alta{
        height: 50rem;
    }

    @include m.tablet{

        height: 80rem;
        margin-top: 14rem;
    }

    @include  m.compu-peq{
        height: 60rem;
        margin-top: 4rem;
    }

    @include m.desktop{
        height: 94rem;
        margin-top: 17rem;
    }

    &__contenido {
        position: relative;
    }

    &__texto{
        padding: 0 1rem;
        color: v.$blanco;
        font-size: 2.5rem;
        text-align: center;
        font-weight: bold;
        @include m.tablet{
            font-size: 5rem;
        }
    }

    &__enlace{
        width: 64%;
        margin-top: 3rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 1.6rem 0;
        background-color: v.$blanco;
        font-size: 1.6rem;
        font-weight: bold;
        border-radius: 15rem;
        @include m.tablet{
            width: unset;
            font-size: 2.5rem;
            padding: 1.7rem 4rem;
        }

        align-items: center;
        span{
            background-image: linear-gradient(90deg, #6F019C 0%, #C6017E 135.12%);
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
        }
    }
}


